<!--
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
 
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		  <h1 class="display-2">Saturday Pickup Hockey</h1>
		  <p class="lead">Welcome to Anthony's Saturday Pickup Hockey</p>
		  <hr class="my-3">
		  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	</div>
</div>
-->
<div class="container"> 
	<div class="row">

		  <div class="col-sm-3">
		    <div class="card">
		    	<img class="card-img-top" src="/images/game.png" alt="Card image cap">	
		      <div class="card-body">
		        <h5 class="card-title">September 15, 2018</h5>
		        <p class="card-text">
		        	<b>Time:</b>&nbsp;8:00 AM
		        	<br><b>Location:</b>&nbsp;Canlan York
		        	<br><b>Price:</b>&nbsp;$15/player (goalies free)
		        </p>
		       	<a href="#" class="btn btn-primary">DETAILS</a>
		        <a href="#" class="btn btn-primary">JOIN</a>
		      </div>
		    </div>
		  </div>

		  <div class="col-sm-3">
		    <div class="card">
		    	<img class="card-img-top" src="/images/game.png" alt="Card image cap">
		      <div class="card-body">
		        <h5 class="card-title">September 22, 2018</h5>
		        <p class="card-text">
		        	<b>Time:</b>&nbsp;8:00 AM
		        	<br><b>Location:</b>&nbsp;Canlan York
		        	<br><b>Price:</b>&nbsp;$15/player (goalies free)
		        </p>
		       <a href="#" class="btn btn-primary">DETAILS</a>
		        <a href="#" class="btn btn-primary">JOIN</a>
		      </div>
		      </div>
		    </div>

			  <div class="col-sm-3">
			    <div class="card">
			    	<img class="card-img-top" src="/images/game.png" alt="Card image cap">
			      <div class="card-body">
			        <h5 class="card-title">September 29, 2018</h5>
			        <p class="card-text">
			        	<b>Time:</b>&nbsp;8:00 AM
			        	<br><b>Location:</b>&nbsp;Canlan York
			        	<br><b>Price:</b>&nbsp;$15/player (goalies free)
			        </p>
			       <a href="#" class="btn btn-primary">DETAILS</a>
			        <a href="#" class="btn btn-primary">JOIN</a>
			      </div>
			      </div>
			    </div>

			  <div class="col-sm-3">
			    <div class="card">
			    	<img class="card-img-top" src="/images/game.png" alt="Card image cap">
			      <div class="card-body">
			        <h5 class="card-title">October 6, 2018</h5>
			        <p class="card-text">
			        	<b>Time:</b>&nbsp;8:00 AM
			        	<br><b>Location:</b>&nbsp;Canlan York
			        	<br><b>Price:</b>&nbsp;$15/player (goalies free)
			        </p>
			       <a href="#" class="btn btn-primary">DETAILS</a>
			        <a href="#" class="btn btn-primary">JOIN</a>
			      </div>
			      </div>
			    </div>
   
	</div>
</div>
<!--
<div class="mx-auto" style="width: 200px;">
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="/images/game.png" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Sept 15, 2018</h5>
	    <p class="card-text">8:00 AM</p>
	    <a href="#" class="btn btn-primary">JOIN</a>
	  </div>
	</div>
	<div class="card" style="width: 18rem;">
	  <img class="card-img-top" src="/images/game.png" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">Sept 15, 2018</h5>
	    <p class="card-text">8:00 AM</p>
	    <a href="#" class="btn btn-primary">JOIN</a>
	  </div>
	</div>
</div>
-->
